@import url("http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css");

.banner{

	background-color: #333;

	color: #dd514c;

}

.brand{

	margin-bottom: 6%;

}

.brand a{

	color: #dd514c;

	text-decoration: none;

}

.brand a:hover{

	color: #b92823;

}

.menu-button{

	background-color: #dd514c;

	margin-top: 10%;

	color:#333;

}

.menu-button:hover{

	background-color:#b92823; 

}

.landing{

	color: #b92823;

	margin-top: 5%;

}