<!doctype html>

<link rel='stylesheet' href="{{url_for('static', filename='style.css')}}"/>

<div class='container-fluid'>

	<div class='row banner'>

		<div class='col-md-3 col-md-offset-1'>

			<h1 class='brand'>Teca WebIDS</h1>

		</div>

		<div class='col-md-3 col-md-offset-5'>

			<div class='btn-group menu'>

				<a class="btn btn-lg menu-button" href="/uplog">Analyze</a>

				<a class="btn btn-lg menu-button" href="/upsig">Signature</a>

			</div>

		</div>

	</div>

</div>

<div class='container'>

	<div class='jumbotron landing'>

		<h1 class='page-header'>Catch phrase</h1>

		<p>Try Teca IDS. Its free and </p>

	</div>

</div>