<!doctype html>

<link rel='stylesheet' href="{{url_for('static', filename='style.css')}}"/>


		<h1>Web IDS</h1>


		<a class="pure-button menu-button" href="#">Analyze</a>

		<a class="pure-button menu-button" href="#">Signature</a>



		<h1>Tired of Getting Hacked?</h1>

		<p>dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk</p>

	