<!doctype html>

<link rel='stylesheet' href="{{url_for('static', filename='style.css')}}"/>

<div class='pure-g banner'>

	<div class='pure-u-2-24 space'></div>

	<div class='pure-u-6-24'>

		<h1>Web IDS</h1>

	</div>

	<div class='pure-u-11-24 space'></div>

	<div class='pure-u-4-24'>

		<a class="pure-button menu-button" href="#">Analyze</a>

		<a class="pure-button menu-button" href="#">Signature</a>

	</div>

</div>

<div class='pure-g landing'>

	<div class='pure-u-2-24'></div>

	<div class='pure-u-6-24'>

		<h1>Tired of Getting Hacked?</h1>

		<p>dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk
			dkfjbsk djksdbkjbd jdhfbskhdb bhff hgfjhkgdfkj kshdfk</p>

	</div>

</div>