<!doctype html>

<link rel='stylesheet' href="{{url_for('static', filename='style.css')}}"/>

<div class='container-fluid'>

	<div class='row banner'>

		<div class='col-md-3 col-md-offset-1'>

			<h1 class='brand'><a href='/'>Teca WebIDS</a></h1>

		</div>

		<div class='col-md-3 col-md-offset-5'>

			<div class='btn-group menu'>

				<a class="btn btn-lg menu-button" href="/uplog">Analyze</a>

				<a class="btn btn-lg menu-button" href="/upsig">Signature</a>

				<a class="btn btn-lg menu-button" href="/upkey">Keys</a>

			</div>

		</div>

	</div>

</div>

<div class='container landing'>

	<div class='jumbotron'>

		<h1>Upload Log File to Teca IDS</h1>

		<br><br>
 
		<form method = "POST" action = "/analyze" enctype="multipart/form-data">

			<div class='input-group input-group-lg'>

				<span class='input-group-addon'><i class='glyphicon glyphicon-file'></i></span>

				<input class='form-control' name = "log-file" type ="file"/>

			</div>

			<button class='btn btn-lg menu-button'>Upload Log</button>

		</form>

	</div>

</div>